<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="loginForm(displayName, username, password)">
    <h1 th:text="${displayName}">username</h1>
    <img th:src="'/users/picture/' + ${username} + '.png'"/>
    <form th:action="@{/login}" method="post">
        <div hidden="hidden">
            <label> User Name : <input type="text" name="username" th:value="${username}"/> </label>
        </div>
        <div hidden="hidden">
            <label> Password:
                <!-- I know what you're thinking. That's a plaintext password in the HTML. Don't worry, it's a Demo login to a Demo instance. -->
                <input type="password" name="password" th:value="${password}"/>
            </label>
        </div>
        <div><input type="submit" th:value="'Sign In as ' + ${username}"/></div>
    </form>
</div>
</body>
</html>